<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE">
    <Appenders>
        <!-- Console Appender -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p: %c - %m%n" />
        </Console>

        <!-- Rolling File Appender: wsfile -->
        <RollingFile name="rsfile" 
                     fileName="E:/DEMO_HOME/logs/rsLog.log"
                     filePattern="E:/DEMO_HOME/logs/rsLog-%i.log"
                     append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="100MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

        <!-- Rolling File Appender: springfile -->
        <RollingFile name="springfile" 
                     fileName="E:/DEMO_HOME/logs/springLog.log"
                     filePattern="E:/DEMO_HOME/logs/springLog-%i.log"
                     append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="100MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

        <!-- Rolling File Appender: apifile -->
        <RollingFile name="apifile" 
                     fileName="E:/DEMO_HOME/logs/apiLog.log"
                     filePattern="E:/DEMO_HOME/logs/apiLog-%i.log"
                     append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="50MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

        <!-- Rolling File Appender: pomsfile -->
        <RollingFile name="pomsfile" 
                     fileName="E:/DEMO_HOME/logs/pomsLog.log"
                     filePattern="E:/DEMO_HOME/logs/pomsLog-%i.log"
                     append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="50MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

        <!-- Rolling File Appender: schedulerfile -->
        <RollingFile name="schedulerfile" 
                     fileName="E:/DEMO_HOME/logs/schedulerLog.log"
                     filePattern="E:/DEMO_HOME/logs/schedulerLog-%i.log"
                     append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="25MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Application Loggers -->
        <Logger name="rs.demo.controller" level="INFO">
            <AppenderRef ref="springfile"/>
        </Logger>
        
        <Logger name="rs" level="INFO">
            <AppenderRef ref="apifile"/>
        </Logger>
        
        <Logger name="" level="INFO">
            <AppenderRef ref="pomsfile"/>
        </Logger>
        
        <Logger name="rs.demo.scheduler" level="INFO">
            <AppenderRef ref="schedulerfile"/>
        </Logger>

        <!-- 3rdparty Loggers -->
        <Logger name="org.springframework.core" level="INFO" />
        <Logger name="org.springframework.beans" level="INFO" />
        <Logger name="org.springframework.context" level="INFO" />
        <Logger name="org.springframework.web" level="INFO" />

        <!-- Root Logger -->
        <Root level="INFO">
            <AppenderRef ref="console" />
            <AppenderRef ref="rsfile" />
        </Root>
    </Loggers>
</Configuration>
